body{
  height: 100%;
  background-color: #6571b7;
}

.App{
  text-align: center;
}

#root{
  margin: 0;
  padding: 0;
}

.mb-sm{
  margin-bottom: 5px;
}

.m-0{
  margin: 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}
.wrapper h1{
  color: #ffffff;
}

.cards-parrent{
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards-parrent .card{
  width: 300px;
  height: 300px;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #022e4a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition: all 300ms ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards-parrent .card-selected{
  box-shadow: 0 9px 9px 5px rgba(255, 255, 255, 0.51), 6px 6px 20px 11px rgba(255, 255, 255, 0.51);
  transform: scale(1.08);
}

.cards-parrent .card .card-title,
.text-muted,
.card-text{
  color: white;
  opacity: 0.8;
}

.card-body{
  text-align: left;
  align-self: flex-start;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.err{
  color: red;
}

.cards-parrent .card h2{
  color: white;
}

.cards-parrent .card:hover{
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}

.search-city{
  display: flex;
  justify-content: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 1440px){
  .cards-parrent .card {
    width: 280px;
    height: 280px;
  }
}
